# Hacker News Project

This is my second project on the way to become a data analyst. In this project we will analyst a data set of submissions to popular technology site Hacker News. I'm going to do this project under the guide from dataquest.io, they will told me what to do a i will present it here.
Hacker News is a site started by the startup incubator Y Combinator, where user-submitted stories (known as "posts") are voted and commented upon, similar to reddit. Hacker News is extremely popular in technology and startup circles, and posts that make it to the top of Hacker News' listings can get hundreds of thousands of visitors as a result.
You can find the data set [here](https://www.kaggle.com/hacker-news/hacker-news-posts)

We'll compare these two types of posts to determine the following:
* Do Ask HN or Show HN receive more comments on average?
* Do posts created at a certain time receive more comments on average?

Let's start by importing the libraries we need and reading the data set into a list of lists.

In [1]:
from csv import reader

opened_file = open('hacker_news.csv', encoding='utf8')
read_file = reader(opened_file)
hn = list(read_file)
headers = hn[:1]
hn = hn[1:]

In the below code, i will define a function to print data sample for any dataset, also inform number of rows and column of entire dataset.

In [2]:
def explore_data(dataset, start, end, rows_and_col=False):
    for row in dataset[start:end]:
        print(row)
        print('\n') #new empty line
    if rows_and_col:
        print('Number of rows: ',len(dataset))
        print('Number of columns: ',len(dataset[0]))
        
#print first 5 row of dataset
print(headers)
print('\n')
explore_data(hn, 0, 5, 1)

[['id', 'title', 'url', 'num_points', 'num_comments', 'author', 'created_at']]


['12224879', 'Interactive Dynamic Video', 'http://www.interactivedynamicvideo.com/', '386', '52', 'ne0phyte', '8/4/2016 11:52']


['10975351', 'How to Use Open Source and Shut the Fuck Up at the Same Time', 'http://hueniverse.com/2016/01/26/how-to-use-open-source-and-shut-the-fuck-up-at-the-same-time/', '39', '10', 'josep2', '1/26/2016 19:30']


['11964716', "Florida DJs May Face Felony for April Fools' Water Joke", 'http://www.thewire.com/entertainment/2013/04/florida-djs-april-fools-water-joke/63798/', '2', '1', 'vezycash', '6/23/2016 22:20']


['11919867', 'Technology ventures: From Idea to Enterprise', 'https://www.amazon.com/Technology-Ventures-Enterprise-Thomas-Byers/dp/0073523429', '3', '1', 'hswarna', '6/17/2016 0:01']


['10301696', 'Note by Note: The Making of Steinway L1037 (2007)', 'http://www.nytimes.com/2007/11/07/movies/07stein.html?_r=0', '8', '2', 'walterbell', '9/30/2015 4:12']


Number of rows:  20100
Number of columns:  7

Since we only concern with post titles beginning with `Aks HN` and `Show HN`, we'll use a string method `startswith`, it will return `True` or `False` value.

In [5]:
ask_posts= []
show_posts = []
other_posts = []


for row in hn:
    title = row[1]
    if title.lower().startswith('ask hn'):
        ask_posts.append(row)
    elif title.lower().startswith('show hn'):
        show_posts.append(row)
    else:
        other_posts.append(row)
        
#print(len(ask_posts))
#print(len(show_posts))
#print(len(other_posts))

Let's view some first row of `ask_posts` and `show_posts`

In [6]:
explore_data(ask_posts, 0, 5, 1)

['12296411', 'Ask HN: How to improve my personal website?', '', '2', '6', 'ahmedbaracat', '8/16/2016 9:55']


['10610020', 'Ask HN: Am I the only one outraged by Twitter shutting down share counts?', '', '28', '29', 'tkfx', '11/22/2015 13:43']


['11610310', 'Ask HN: Aby recent changes to CSS that broke mobile?', '', '1', '1', 'polskibus', '5/2/2016 10:14']


['12210105', 'Ask HN: Looking for Employee #3 How do I do it?', '', '1', '3', 'sph130', '8/2/2016 14:20']


['10394168', 'Ask HN: Someone offered to buy my browser extension from me. What now?', '', '28', '17', 'roykolak', '10/15/2015 16:38']


Number of rows:  1744
Number of columns:  7

In [7]:
explore_data(show_posts, 0, 5, 1)

['10627194', 'Show HN: Wio Link  ESP8266 Based Web of Things Hardware Development Platform', 'https://iot.seeed.cc', '26', '22', 'kfihihc', '11/25/2015 14:03']


['10646440', 'Show HN: Something pointless I made', 'http://dn.ht/picklecat/', '747', '102', 'dhotson', '11/29/2015 22:46']


['11590768', 'Show HN: Shanhu.io, a programming playground powered by e8vm', 'https://shanhu.io', '1', '1', 'h8liu', '4/28/2016 18:05']


['12178806', 'Show HN: Webscope  Easy way for web developers to communicate with Clients', 'http://webscopeapp.com', '3', '3', 'fastbrick', '7/28/2016 7:11']


['10872799', 'Show HN: GeoScreenshot  Easily test Geo-IP based web pages', 'https://www.geoscreenshot.com/', '1', '9', 'kpsychwave', '1/9/2016 20:45']


Number of rows:  1162
Number of columns:  7

Now let calculate which dataset have more comments on average

In [8]:
total_ask_comments = 0

for row in ask_posts:
    cm_num = int(row[4])
    total_ask_comments += cm_num
    
avg_ask_comment = total_ask_comments / len(ask_posts)

print('Average numbers of comment on ask posts: ',avg_ask_comment)

Average numbers of comment on ask posts:  14.038417431192661

In [9]:
total_show_comments = 0

for row in show_posts:
    cm_num = int(row[4])
    total_show_comments += cm_num
    
avg_show_comments = total_show_comments / len(show_posts)

print('Average numbers of comment on ask posts: ',avg_show_comments)

Average numbers of comment on ask posts:  10.31669535283993

So, on average, Ask post receive more comment than show post. This might point out that Hacker news community is helpful to people in need.

Above, we have found out that, on average, ask posts receive more comments than show posts. Therefor, we'll focus our remaining analysis just on ask posts.

Next, we will determine  if ask posts created at a certain time are more likely to attract comments. We'll use the following steps to perform this analysis:
1. Calculate the amount of ask posts created in each hour of the day, along with the number of comments received
2. Calculate the average number of comments ask posts receive by hour created

In [12]:
import datetime as dt

result_list = []
for row in ask_posts:
    created_at = dt.datetime.strptime(row[6],'%m/%d/%Y %H:%M')
    cm_num = int(row[4])
    result_list.append([created_at,cm_num])

In [15]:
counts_by_hour ={}
comments_by_hour = {}

for row in result_list:
    hour = dt.datetime.strftime(row[0],'%H')
    if hour not in counts_by_hour:
        counts_by_hour[hour] = 1
        comments_by_hour[hour] = row[1]
    else:
        counts_by_hour[hour] += 1
        comments_by_hour[hour] += row[1]

In [18]:
avg_by_hours = []

for hour in counts_by_hour:
    avg_by_hours.append([hour,comments_by_hour[hour]/counts_by_hour[hour]])

In [19]:
for row in avg_by_hours:
    print(row)

['10', 13.440677966101696]
['05', 10.08695652173913]
['04', 7.170212765957447]
['23', 7.985294117647059]
['01', 11.383333333333333]
['12', 9.41095890410959]
['02', 23.810344827586206]
['17', 11.46]
['08', 10.25]
['15', 38.5948275862069]
['09', 5.5777777777777775]
['14', 13.233644859813085]
['03', 7.796296296296297]
['06', 9.022727272727273]
['20', 21.525]
['00', 8.127272727272727]
['07', 7.852941176470588]
['11', 11.051724137931034]
['22', 6.746478873239437]
['21', 16.009174311926607]
['16', 16.796296296296298]
['19', 10.8]
['18', 13.20183486238532]
['13', 14.741176470588234]

Although we now have the results we need, this format makes it hard to identify the hours with the highest values. Let's finish by sorting the list of lists and printing the five highest values in a format that's easier to read

In [20]:
swap_avg_by_hour = []
for row in avg_by_hours:
    swap_avg_by_hour.append([row[1],row[0]])
    
for row in swap_avg_by_hour:
    print(row)

[13.440677966101696, '10']
[10.08695652173913, '05']
[7.170212765957447, '04']
[7.985294117647059, '23']
[11.383333333333333, '01']
[9.41095890410959, '12']
[23.810344827586206, '02']
[11.46, '17']
[10.25, '08']
[38.5948275862069, '15']
[5.5777777777777775, '09']
[13.233644859813085, '14']
[7.796296296296297, '03']
[9.022727272727273, '06']
[21.525, '20']
[8.127272727272727, '00']
[7.852941176470588, '07']
[11.051724137931034, '11']
[6.746478873239437, '22']
[16.009174311926607, '21']
[16.796296296296298, '16']
[10.8, '19']
[13.20183486238532, '18']
[14.741176470588234, '13']

In [21]:
sorted_swap =  sorted(swap_avg_by_hour, reverse = True)

In [23]:
for row in sorted_swap:
    print(row)

[38.5948275862069, '15']
[23.810344827586206, '02']
[21.525, '20']
[16.796296296296298, '16']
[16.009174311926607, '21']
[14.741176470588234, '13']
[13.440677966101696, '10']
[13.233644859813085, '14']
[13.20183486238532, '18']
[11.46, '17']
[11.383333333333333, '01']
[11.051724137931034, '11']
[10.8, '19']
[10.25, '08']
[10.08695652173913, '05']
[9.41095890410959, '12']
[9.022727272727273, '06']
[8.127272727272727, '00']
[7.985294117647059, '23']
[7.852941176470588, '07']
[7.796296296296297, '03']
[7.170212765957447, '04']
[6.746478873239437, '22']
[5.5777777777777775, '09']

In [25]:
print('Top 5 Hours for Ask Posts Comments')
template_string = "{}: {:.2f} average comments per post"
for row in sorted_swap[:5]:
    hour = dt.datetime.strptime(row[1],'%H')
    hour_string = dt.datetime.strftime(hour,'%H:%M')
    print(template_string.format(hour_string,row[0]))

Top 5 Hours for Ask Posts Comments
15:00: 38.59 average comments per post
02:00: 23.81 average comments per post
20:00: 21.52 average comments per post
16:00: 16.80 average comments per post
21:00: 16.01 average comments per post